.button-header {
    border: 2px solid vars.$main;
    border-radius: 7px;
    background: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: vars.$main;
    transition: all .2s;
    height: 100%;
}



.button-header:hover {
    background: vars.$main;
    color: white;
}

.button-border {
    border: 2px solid vars.$main;
    border-radius: 7px;
    background: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: vars.$main;
    transition: all .2s;
    height: 100%;
}

.button-border:hover {
    background: vars.$main;
    color: white;
}


.button-red {
    border-radius: 5px;
    background: vars.$main;
    color: white;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.2px;
    border: 2px solid transparent;
    text-align: center;
    transition: all .3s;
}

.button-red:hover {
    border: 2px solid vars.$main;
    background: transparent;
    color: vars.$main;

}

.loading {
    background: lightgrey;
    transition: all .2s;
}

.loading:hover {
    border-color: lightgrey;
    background: lightgrey;
    color: black;

}

.size-xl {
    padding: 8px 60px;
}

.size-md {
    padding: 15px 40px;
    line-height: 22px;
}

@media (max-width:768px) {
    .button-header {
        padding: 6px 20px;
    }
}